.search-wrapper {
    height: 100%;
    margin: 0 auto;
}

.search-input-wrapper {
    text-align: center;
}

.mat-input-element {
    border-bottom: 1px solid;
    border-color: blue;
}

.search-bar {
    margin-top: 20px;
}

.search-results {
    background-color: beige;
    padding-top: 200px;
    padding-bottom: 200px;
    min-height: 800px;
}