.search-wrapper {
    height: 100%;
    margin: 0 auto;
}

.search-input-wrapper {
    text-align: center;
}

.search-input-wrapper button {
    margin-left: 10px;
}

.mat-input-element {
    border-bottom: 1px solid;
    border-color: blue;
}

.search-bar {
    margin-top: 20px;
}

.search-results {
    background-color: beige;
    padding-top: 200px;
    padding-bottom: 200px;
    min-height: 800px;
}

.mat-input-element {
    border-bottom: none;
    height: 20px;
}

.home-wrapper {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.home-wrapper img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}