<div *ngIf="(profile$ | async) as profile" class="profile-container" (click)="navigateToGitHub(profile.htmlUrl)">
    <div class="picture-container">
        <img class="github-pic" [src]="profile?.avatarUrl">
    </div>
    <div class="description-container">
        <h5>Bio</h5>
        <span class="bio">{{!profile.bio || profile.bio === '' ? 'N/A' : profile.bio}}</span>
        <h5>Followers No</h5>
        <span class="followers">{{profile.followers}}</span>
        <h5>Following No</h5>
        <span class="following">{{profile.following}}</span>
        <h5>Repos No</h5>
        <span class="repos">{{profile.repos}}</span>
        <h5>Location</h5>
        <span class="location">{{!profile.location || profile.location === '' ? 'N/A' : profile.location}}</span>
        <h5>Company</h5>
        <span class="company">{{!profile.company || profile.company === '' ? 'N/A' : profile.company}}</span>
    </div>
</div>