<div *ngIf="(profile$ | async) as profile" class="profile-container" (click)="navigateToGitHub(profile.htmlUrl)">
    <div class="picture-container">
        <img class="github-pic" [src]="profile?.avatarUrl">
    </div>
    <div class="description-container">
        <label>Name</label>
        <span class="name">{{!profile.name || profile.name === '' ? 'N/A' : profile.name}}</span>
        <label>Bio</label>
        <span class="bio">{{!profile.bio || profile.bio === '' ? 'N/A' : profile.bio}}</span>
        <label>Followers No</label>
        <span class="followers">{{profile.followers}}</span>
        <label>Following No</label>
        <span class="following">{{profile.following}}</span>
        <label>Repos No</label>
        <span class="repos">{{profile.repos}}</span>
        <label>Location</label>
        <span class="location">{{!profile.location || profile.location === '' ? 'N/A' : profile.location}}</span>
        <label>Company</label>
        <span class="company">{{!profile.company || profile.company === '' ? 'N/A' : profile.company}}</span>
    </div>
</div>