.results-card {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: white;
}

.header-image {
    background-image: url(../../../../assets/github.png);
    background-size: cover;
}

.users-table {
    width: 100%;
}

.mat-card-title {
    font-size: x-large;
}

mat-table tr:not(.mat-header-row) {
    display: flex;
    height: 100%;
}

mat-table td {
    display: flex;
    width: 100%;
    padding-right: 1px;
}

.mat-header-cell, .mat-cell {
    vertical-align: middle;
    word-break: break-word;
    font-size: 1vh;
}

.mat-header-cell {
    width: 10%;
    font-size: 16px;
    font-weight: bold;
}

.mat-column-identifier {
    width: 100%;
    text-align: left;
}